abbr{
    text-decoration: underline;
    color: blue;
}
#blackline{
    padding-right: 10px;
    padding-bottom: 10px;
    border-bottom: solid 5px black;
}
.redline{
    border-right: solid 5px #ee0000;
    border-bottom: solid 5 px #ee0000;
    border-bottom-right-radius: 25px;   
}
.rouge{
    border-bottom: solid 5px #ee0000;
    border-right: solid 5px #ee0000;
    border-top: solid 5px #ee0000;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    margin-bottom: 20px;
}