*{
    font-family: aero;
}
@font-face{
    font-family: aero;
    font-style: normal;
    font-weight: bold;
    src: url(../Aero.ttf);
}
body{
    margin: 0%;
}
.white{
    color: white;
}
a{
    text-decoration: none;
}
li{
    list-style-type: none;
}
.flex{
    display: flex;
}
.between{
    display: flex;
    justify-content: space-around;
}
/* style pour le nav */
nav{
    position: fixed;
    top: 0%;
    width: 100%;
    z-index: 1;
}
.container-fluid{
    display: flex;
    flex-direction: row-reverse;
}
nav div{
    background-color: #ee0000;
    margin-left: 310px;
}
.navbar-nav{
    display: flex;
    align-items:center;
}
.absolute{
    position: absolute;
    right: 0%;
    top: 6%;
}
.page{
    border-bottom: solid 1px black;
    border-right: solid 1px black;
    border-bottom-right-radius: 10px;
}
header{
    margin-top: 90px;
}
header h1{
    border-top: solid 5px #ee0000;
    border-right: solid 5px #ee0000;
    border-top-right-radius: 25px;
    max-width: max-content;
    padding-right: 10px;
    position: relative;
    animation-name: move;
    animation-duration: 4s;
    animation-timing-function: ease;
}
@keyframes move{
    0%{left: -1500px;}
    100%{left: 0px;}
}
/* style pouyr le footer */
footer{
    background-color: #2b2b2b;
}
.justify-center{
    display: flex;
    justify-content: center;
}
footer div a img{
    margin-top: 8px;
}
footer div a h1 i{
    font-size: 18px;
    margin-left: 5px;
}
.border-footer{
    border-right: solid 5px #757575;
    border-bottom: solid 5px #757575;
    border-bottom-right-radius: 20px;
}
.actfoot{
    transition: 0.2s;
}
.actfoot:hover{
    border-bottom: solid 1px #757575;
    color: #757575;
}